<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.education.imagefire">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- //android:theme="@style/AppTheme">// -->
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCb-lRXV2Tk6F-YRL7dGQEcchBqxIlF0Tg" />

        <activity
            android:name=".Owner_PortalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ShowdataActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CarActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".SignupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SigninActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".RecyclerviewActivity"
            android:theme="@style/MyAppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".HostelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MapInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PropertyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FacilitiesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MenuActivity"
            android:theme="@style/MyAppTheme" />
        <activity android:name=".UniversityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NearbyplacesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".OwnerShowActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MapsActivity"
            android:label="Maps"
            android:screenOrientation="portrait"
            />
        <activity android:name=".RoomsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddHostelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".HostelImagesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UserProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".OwnerProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudentShowActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".OptionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProfilessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InterfaceActivity"
            android:theme="@style/MyAppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".StuprofileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NotificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".StunotificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ForgotpassActivity"></activity>
    </application>

</manifest>